<h2><%= t('.sign_up', :default => "Sign up") %></h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div><%= f.label :prenom %><br />
	<%= f.text_field :prenom %></div>
	
<div><%= f.label :nom %><br />
	<%= f.text_field :nom %></div>

<div><%= f.label :pseudo %><br />
	<%= f.text_field :pseudo %></div>

<div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

<div><%= f.label :image %><br />
    <%= f.file_field :image %></div>

<div><%= f.label :password, "Mot de passe" %><br />
  <%= f.password_field :password %></div>

<div><%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
  <%= f.password_field :password_confirmation %></div>

<div><%= f.submit t('.sign_up', :default => "Sign up") %></div>
  <% end %>

<%= render "devise/shared/links" %>
