<% content_for :stylesheet do %>

  <%= stylesheet_link_tag 'projets' %>
 

    <%= stylesheet_link_tag  'forms' %>   
<% end %>

<%= form_for :projet, url: projets_path do |f| %>

  <div class="row">
      <div class="container-fluid form_content projet_content">           

          <div class="row projet_titre">
              <div class="col-xs-12">
                  <%= f.label :image, "Une image qui illustre votre projet" %><br>
                  <%= f.file_field :image %>
              </div>
              <div class="col-xs-12">
                  <%= f.text_field :titre , placeholder: "Titre de votre projet", class:"form-control form-style" %>                  
              </div>
              <div class="col-xs-8">
                  <ul class="dl-horizontal projet-def">
                      <li><%= f.label :commune, "Où est localisé votre projet ? (commune)" %></li>
                      <li><%= f.text_field :commune, class:"form-control form-style"%></li>
                      <br>
                      <li><%= f.label :localisation, "Quel est le territoire impacté par votre projet?" %></li>
                      <li><%= f.text_field :localisation, class:"form-control form-style" %></li>
                      <br>
                      <li>Thème : </li>
                      <li><%= f.select :categorie_id, grouped_options_for_select([["Quel est la thèmatique dominante de votre projet ?", @categories]]) %></li>
                  </ul>
              </div>
          </div>
          <div class="col-xs-12">
              <dl>
                <br>
          
                  <dt class="projet_desc_titre"><%= f.label :description, "Décrire brièvement votre projet" %></dt>
                  <dd class="text-justify"><%= f.text_area :description, maxlength: 1500, rows: 15, :placeholder => "Limite de 1500 caractères", class:"form-control form-style" %></dd>
              </dl>        
          </div>
          <div class="col-xs-12">
              <hr>
          </div>

          <div class="col-xs-12">
          <dl>
            <dt><%= f.label :besoin, "Quels sont vos besoins ?" %></dt>
              <dd class="text-justify"><%= f.text_area :besoin, rows: 10, maxlength: 500, :placeholder => "Limite de 500 caractères", class:"form-control form-style" %>
              </dd> 
          </dl>       
      </div>
      
      <div class="col-xs-3">        
        <%= f.label :urlsite, "Un lien où il est possible d'en apprendre plus sur votre projet" %><br>
          <%= f.text_field :urlsite, placeholder: "http://monprojet.com", class:"form-control form-style"%>
      </div>
      <div class="col-xs-9">
          <%= f.label :statut, "État d'avancement : quelles étapes ont été réalisées ?" %><br>
          <%= fields_for :statut do |statut_fields| %>
            <% ["réflexion", "définition", "analyse du marché", "recherche de partenaire", "montage financier", "mise en oeuvre"].each do |etape| %>
                <%= statut_fields.check_box etape %>
                <%= statut_fields.label etape %>
            <% end %>
          <% end %>
      </div>
      
      <div class="col-xs-12">
          <br>
          <dl>
              <dt><%= f.label :demarrage, "Date de démarrage de votre projet ?" %></dt>
              <dd class="text-justify"><%= f.date_select :demarrage %>
              </dd> 
          </dl> 
      </div>     
      
  </div> 



  <hr>


      <p class="text-center">
          <%= f.submit "Enregistrer mon projet", class: "btn-comment" %>
      </p>
    
    
</div>

<% end %>
