<% content_for :stylesheet do %>
     <%= stylesheet_link_tag 'projets' %>
<% end %>
<div class="container">

    <h1><%= @projet.titre %></h1>

    <p><%= @projet.image %></p>

    <p><%= @projet.description%></p>
    
    <p>Thème : <%= Thematique.find(@projet.categorie_id).categorie %></p>

    <p>Date de création : <%= @projet.demarrage %></p>

    <p>Commune : <%= @projet.commune %></p>

    <p>Territoire impacté : <%= @projet.localisation %></p>

    <p>Etat d'avancement : <%= @projet.statut %></p>

    <p>Les besoins : <%= @projet.besoin %></p>

    <p>Le site web : <%= @projet.urlsite %></p>
    
    <p>Image : <%= image_tag @projet.image.url %></p>

    <p>Fiche projet créée le <%= @projet.created_at.to_date %> par <%= User.find(@projet.user_id).pseudo %></p>
    
    <h3>Followers (<%= @followers.count %>)</h3>
    <h3>Likes (<%= @likes.count %>)</h3>
    <h3>Commentaires (<%= @comments.count %>)</h3>
    
    <div class="container-fluid">
        <% @comments.each do |comment| %>
            <div class="row comment">
                <div class="col-xs-2">
                    <div class="row ">
                        <div class="col-xs-12 haut"></div>
                        <div class="col-xs-12 comment_author">
                            <span class="comment__pseudo"><%= User.find(comment.user_id).pseudo %></span> a dit :
                        </div>
                        <div class="col-xs-12 bas_fin comment_line">
                                                 
                        </div>
                    </div>
                </div>

                 <div class="col-xs-8">
                    <div class="row ">
                        <div class="col-xs-12 haut"></div>
                        <div class="col-xs-12 comment_content">
                            <p class="comment_content_style"><%= comment.comment %></p>
                        </div>
                        <div class="col-xs-12 bas comment_coin_gauche">
                            <p class="date">le <%= comment.created_at.to_s(:custom_datetime) %></p>                    
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="row ">
                        <div class="col-xs-12 haut comment_coin_droit"></div>
                        <div class="col-xs-12"></div>
                        <div class="col-xs-12 bas">                           
                        </div>
                    </div>
                </div>


            </div>
            <% if user_signed_in? && (current_user == User.find(comment.user_id) || current_user.moderator?(:comments)) %>
                <div class="row">
                    <%= link_to "Supprimer", comment_path(comment.id), :method => :delete %> | <%= link_to "Editer", edit_comment_path(comment.id) %>
                </div>
            <% end %> 
            <br><br>                       
        <% end %>
    </div>

    <% if user_signed_in? %>
        <div>
            <%= form_tag "/projets/add_new_comment" do %>
                <%= hidden_field_tag "id", @projet.id %>
            <%= text_field_tag "comment[comment]", "Votre commentaire" %>
                <%= submit_tag "Commenter" %>
            <% end %>
        </div></br>
        <% if @projet.comments.where(role: "likes").where(user_id: current_user.id).count == 0 %>
            <div>
                <%= form_tag "/projets/add_new_like" do %>
                <%= hidden_field_tag "id", @projet.id %>
                <%= submit_tag "J'aime" %>
                <% end %>
            </div></br>
        <% else %>
            <div>
                <%= form_tag "/projets/destroy_like" do %>
                <%= hidden_field_tag "id", @projet.id %>
                <%= submit_tag "Je n'aime plus" %>
                <% end %>
            </div></br>
        <% end %>


        <% if @projet.comments.where(role: "follows").where(user_id: current_user.id).count == 0 %>
            <div>
                <%= form_tag "/projets/add_new_follower" do %>
                <%= hidden_field_tag "id", @projet.id %>
                <%= submit_tag "Je suis ce projet" %>
                <% end %>
            </div></br>
        <% else %>
            <div>
                <%= form_tag "/projets/destroy_follower" do %>
                <%= hidden_field_tag "id", @projet.id %>
                <%= submit_tag "Je ne souhaite plus suivre ce projet" %>
                <% end %>
            </div></br>
        <% end %>
    <% end %>
    
    
    
    
</div>