<div class="container">

    <h1><%= @projet.titre %></h1>

    <p><%= @projet.image %></p>

    <p><%= @projet.description%></p>
    
    <p>Thème : <%= Thematique.find(@projet.categorie_id).categorie %></p>

    <p>Date de création : <%= @projet.demarrage %></p>

    <p>Commune : <%= @projet.commune %></p>

    <p>Territoire impacté : <%= @projet.localisation %></p>

    <p>Etat d'avancement : <%= @projet.statut %></p>

    <p>Les besoins : <%= @projet.besoin %></p>

    <p>Le site web : <%= @projet.urlsite %></p>

    <p>Fiche projet créée le <%= @projet.created_at.to_date %> par <%= User.find(@projet.user_id).pseudo %></p>
    
    <h3>Likes (<%= @likes.count %>)</h3>
    <h3>Commentaires (<%= @comments.count %>)</h3>
    
    <div>
        <% @comments.each do |comment| %>
                    <p><%= User.find(comment.user_id).pseudo %> : <%= comment.comment %></p>
                    <p><%= comment.created_at.to_time %></p>

                <% if user_signed_in? && (current_user == User.find(comment.user_id) || current_user.moderator?(:comments)) %>
                    <%= link_to "Supprimer", comment_path(comment.id), :method => :delete %> | <%= link_to "Editer", edit_comment_path(comment.id) %>
                <% end %>
                </br></br>
        <% end %>
    </div>

    <% if user_signed_in? %>
        <div>
            <%= form_tag "/projets/add_new_comment" do %>
                <%= hidden_field_tag "id", @projet.id %>
            <%= text_field_tag "comment[comment]", "Votre commentaire" %>
                <%= submit_tag "Commenter" %>
            <% end %>
        </div></br>
        <div>
            <%= form_tag "/projets/add_new_like" do %>
            <%= hidden_field_tag "id", @projet.id %>
            <%= submit_tag "J'aime" %>
            <% end %>
        </div></br>
    <% end %>
    
    
    
    
</div>