<% content_for :stylesheet do %>
     <%= stylesheet_link_tag 'projets' %>
     <%= stylesheet_link_tag 'commentaires' %>
<% end %>

<div class="row">
    <div class="container-fluid form_content projet_content">
        <% if user_signed_in? && (current_user.moderator?(:projets) || current_user == User.find(@projet.user_id))  %>
            <div class="row projet_titre actions">
                <%= link_to "Editer", edit_projet_path(@projet.id), class: "btn btn-comment" %> 
                <%= link_to "Supprimer", actualite_path(@projet.id), :method => :delete, class: "btn btn-comment" %>
            </div>
        <% end %>    
        <div class="row projet_titre">
            <div class="col-xs-12">
                <p class="text-center"><%= image_tag @projet.image.url %></p>
            </div>
            <div class="col-xs-12">
                <h1 class="text-center"><%= @projet.titre %></h1>
            </div>
            <div class="col-xs-5">
                <dl class="dl-horizontal">
                    <dt>Commune</dt>
                    <dd><%= @projet.commune %></dd>
                    <dt>Territoire impacté</dt>
                    <dd><%= @projet.localisation %></dd>
                    <dt>Thème</dt>
                    <dd><%= Thematique.find(@projet.categorie_id).categorie %></dd>
                </dl>
            </div>
        
        <% if user_signed_in? %>
        <div class="col-xs-7 projet_titre">

            <% if @projet.comments.where(role: "likes").where(user_id: current_user.id).count == 0 %>
                
                    <%= form_tag "/projets/add_new_like", class:"likes-form" do %>
                    <%= hidden_field_tag "id", @projet.id %>
                    <%= submit_tag @likes.count, class:"likes-count-btn unliked" %>
                    <% end %>
                
            <% else %>
                
                    <%= form_tag "/projets/destroy_like", class:"likes-form" do %>
                    <%= hidden_field_tag "id", @projet.id %>
                    <%= submit_tag @likes.count, class:"likes-count-btn liked" %>
                    <% end %>
                
            <% end %>
        </div>

        <% else %>
        <div class="col-xs-7 likes-count"><%= @likes.count %></div>
        <% end %>
        </div>
        <div class="col-xs-12">
            <dl>
                <dt class="projet_desc_titre">Description du projet</dt>
                <dd class="text-justify"><%= simple_format(@projet.description) %></dd>
            </dl>        
        </div>
        <div class="col-xs-12">
            <hr>
        </div>

        <div class="col-xs-12">
        <dl>
            <dt>Les besoins</dt>
            <dd class="text-justify"><%= simple_format(@projet.besoin) %></dd> 
        </dl>       
    </div>
    
    <% if @projet.urlsite != "" %>
    <div class="col-xs-3">        
        <a href="<%= @projet.urlsite %>" class="btn btn-info ">Plus d'informations ici</a>
    </div>
    <div class="col-xs-offset-6 col-xs-3">
        <p>Etat d'avancement : <%= @projet.statut %></p>
    </div>

    <% end %>
    
</div> 

<hr>

<div class="col-xs-12">
    <div class="container-fluid projet_content">
        <div class="col-xs-5">

        </div>    
        <div class="col-xs-offset-4 col-xs-3">
            porteur du projet :  <%= User.find(@projet.user_id).pseudo %>
        </div>
    </div>
    <% if user_signed_in? %>

        <% if @projet.comments.where(role: "likes").where(user_id: current_user.id).count == 0 %>
            
            <%= form_tag "/projets/add_new_like", class:"likes-comments-form" do %>
            <%= hidden_field_tag "id", @projet.id %>
            <%= submit_tag "#{@likes.count}        #{@comments.count}", class:"likes-comments-count-btn unclicked" %>
            <% end %>
            
        <% else %>
            
            <%= form_tag "/projets/destroy_like", class:"likes-comments-form" do %>
            <%= hidden_field_tag "id", @projet.id %>
            <%= submit_tag "#{@likes.count}        #{@comments.count}", class:"likes-comments-count-btn clicked" %>
            <% end %>
            
        <% end %>

    <% else %>
        <div class="likes-comments-count">
            <div class="likes-number"><%= @likes.count %></div>
            <div class="comments-number"><%= @comments.count %></div>
        </div>
    <% end %>
    
</div>

<br><br>

<% @comments.each do |comment| %>
    <div class="col-xs-12 comment">
        <div class="col-xs-2">
            <div class="row ">
                <div class="col-xs-12 haut"></div>
                <div class="col-xs-12 comment_author">
                    <span class="comment__pseudo"><%= User.find(comment.user_id).pseudo %></span> a dit :
                </div>
                <div class="col-xs-12 bas_fin comment_line">
                                         
                </div>
            </div>
        </div>

         <div class="col-xs-8">
            <div class="row ">
                <div class="col-xs-12 haut"></div>
                <div class="col-xs-12 comment_content form_content">
                    <%= comment.comment %>
                </div>
                <div class="col-xs-12 bas comment_coin_gauche">
                    <p class="date"><%= comment.created_at.strftime("le %d/%m/%Y à %H heures") %></p>                    
                </div>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="row ">
                <div class="col-xs-12 haut comment_coin_droit"></div>
                <div class="col-xs-12">                    
                </div>
                <div class="col-xs-12 bas">
                    <% if user_signed_in? && (current_user == User.find(comment.user_id) || current_user.moderator?(:comments)) %>                     
                        <p><%= link_to "Supprimer", comment_path(comment.id), :method => :delete %></p>
                        <p><%= link_to "Editer", edit_comment_path(comment.id) %></p>
                    <% end %>                           
                </div>
            </div>
        </div>
    </div>
    
    <br><br>                       
<% end %>

<% if user_signed_in? %>
    <div>
        <%= form_tag "/projets/add_new_comment" do %>
            <%= hidden_field_tag "id", @projet.id %>
            <%= text_area_tag "comment[comment]", nil, class: "form-control comment_text form_content", rows: "5", placeholder:"Votre commentaire" %>            
            <p class="text-center"><%= submit_tag "Commenter", class: "btn btn-comment" %></p>
        <% end %>
    </div>  

<% end %>
    
