<h1>Espace Modération SuperAdministrateur </h1>

<table class="table">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Email</th>
			<th>Rôle actuel</th>
			<th>Changer Rôle</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @comptes.each do |compte| %>
			<% if compte.statut.label != "SuperAdmin" %>
		<tr>
			<th scope="row"><%= compte.id %></th>
			<td><%= compte.nom %></td>
			<td><%= compte.prenom %></td>
			<td><%= compte.email %></td>
			<td><%= compte.statut.label %></td>
			<td>
				<%= form_for(:compte, :url => compte_path(compte), :method => 'PATCH') do |f| %>
							
					<%= f.select_tag 'statut_id', options_from_collection_for_select(@statuts, 'id', 'label', compte.statut.id) %>
				
			</td>
			<td>
					<%= f.submit 'Valider' %> | <a href="/comptes/<%= compte.id %>" data-method="delete">Supprimer</a>
			</td>

					
				<% end %>
			
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>