<% content_for :stylesheet do %>
    <%= stylesheet_link_tag  "editeur" %>
    <%= stylesheet_link_tag  'actualites' %>   
<% end %>

<% content_for :script do %>
    <!-- Include Code Mirror. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <%= javascript_include_tag  'editeur' %>
    <script>
      $(function() {
          $('#edit').froalaEditor()
      });
    </script>
<% end %>

<div class="container">
    <% if user_signed_in? && current_user.moderator?(:actualites) %>
        <h1>Nouvelle Actualité</h1>

        <div>
            <%= form_for :actualite, url: actualites_path do |f| %>
                <p>
                    <%= f.label "Titre de l'actualité" %><br>
                    <%= f.text_field :title %>
                </p>
                <p>
                    <%= f.label "Contenu" %><br>
                    <%= f.text_area :content, id: 'edit' %>
                </p>
                <p>
                    <%= f.submit 'Créer une actualité', class: "btn-comment" %>
                </p>
            <% end %>
        </div>
    <% else %>
      <p>Vous n'avez pas la permission de créer une actualité.</p>
    <% end %>
</div>


