<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'commentaires' %>
    <%= stylesheet_link_tag  'actualites' %>
    <%= stylesheet_link_tag  'editeur' %>
<% end %>
<% content_for :script do %>
    <%= javascript_include_tag 'actualites' %>
<% end %>


    <div class="row">
        <div class="col-md-9 border-right"> 
            <% if (user_signed_in? && current_user.moderator?(:actualites)) %>
                <a href="../actualites/new">Créer une actualité</a>
            <% end %>
    
            <div class="actualite">
                <div class="titre">
                    <h1><%= @actualite.title %></h1>
                    <p>créé le <%= @actualite.created_at.to_s(:custom_datetime) %> par <%= User.find(@actualite.user_id).pseudo %></p>
                    <div class="likes"><%= @likes.count %></div>
                </div>

                <div class="contenu">
                    <div class="fr-view">
                        <%= raw @actualite.content %>
                    </div>
                </div>
            </div>
            <br/>
            <% if user_signed_in? %>
                        <% if @actualite.comments.where(role: "likes").where(user_id: current_user.id).count == 0 %>
                            <div>
                                <%= form_tag "/actualites/add_new_like" do %>
                                <%= hidden_field_tag "id", @actualite.id %>
                                <%= submit_tag "J'aime" %>
                                <% end %>
                            </div></br>
                        <% else %>
                            <div>
                                <%= form_tag "/actualites/destroy_like" do %>
                                <%= hidden_field_tag "id", @actualite.id %>
                                <%= submit_tag "Je n'aime plus" %>
                                <% end %>
                            </div></br>
                        <% end %>
                    <% end %>
            <div class="comments-section">
                <h3>Commentaires (<%= @comments.count %>)</h3>
                <% if user_signed_in? %>
                    <div>
                        <%= form_tag "/actualites/add_new_comment" do %>
                        <%= hidden_field_tag "id", @actualite.id %>
                        <%= text_field_tag "comment[comment]", "Votre commentaire" %>
                            <%= submit_tag "Commenter" %>
                        <% end %>
                    </div></br>
                <% end %>
                    <div class="container-fluid">
                        <% @comments.each do |comment| %>
                        <div class="row comment">
                            <div class="col-xs-2">
                                <div class="row ">
                                    <div class="col-xs-12 haut"></div>
                                    <div class="col-xs-12 comment_author">
                                        <span class="comment__pseudo"><%= User.find(comment.user_id).pseudo %></span> a dit :
                                    </div>
                                    <div class="col-xs-12 bas_fin comment_line">

                                    </div>
                                </div>
                            </div>

                             <div class="col-xs-8">
                                <div class="row ">
                                    <div class="col-xs-12 haut"></div>
                                    <div class="col-xs-12 comment_content">
                                        <p class="comment_content_style"><%= comment.comment %></p>
                                    </div>
                                    <div class="col-xs-12 bas comment_coin_gauche">
                                        <p class="date">le <%= comment.created_at.to_s(:custom_datetime) %></p>                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="row ">
                                    <div class="col-xs-12 haut comment_coin_droit"></div>
                                    <div class="col-xs-12"></div>
                                    <div class="col-xs-12 bas">                           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if user_signed_in? && (current_user == User.find(comment.user_id) || current_user.moderator?(:comments)) %>
                            <div class="row">
                                <%= link_to "Supprimer", comment_path(comment.id), :method => :delete %> | <%= link_to "Editer", edit_comment_path(comment.id) %>
                            </div>
                        <% end %> 
                        <br><br>                       
                        <% end %>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
            <h3>Les dernières actualités</h3>
            <% @actualites.each do |actualite| %>
                    <div class="border-top">
                        <h4><%= link_to actualite.title, actualite_path(actualite.id)%></h4>
                        <p><%= actualite.created_at.to_s(:custom_datetime) %></p>
                    </div>  
            <% end %>
        </div>
    </div>
    
