<!-- Début slider -->
<% content_for :stylesheet do %>
     <%= stylesheet_link_tag 'pages' %>
     <%= stylesheet_link_tag 'commentaires' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'http://thecodeplayer.com/uploads/js/prefixfree.js' %>  
<% end %>



<% if @derniers_projets.last %>
<!-- Début slider derniers projets -->
<div class="form_content accueil_slider_last">
  <h1>Les derniers projets déposés</h1>
    <div class="accordian">
        <ul>          
          <% @derniers_projets.each_index do |index| %>
          <% projet = @derniers_projets[index] %>
          <li>
            <div class="image_title degre<%= index %>">
              <%= link_to projet.titre, projet_path(projet.id)%>
            </div>
            <div class="overlay">
                <p class="info" href="#"><%= (projet.description) %></p>
                <p><%= link_to "Lire la suite", projet_path(projet.id)%></p>
            </div>
            <div class="image_image">
              <a href="#">
                <%= image_tag projet.image.url, class:"projet-image" %>
              </a>
            </div>
          </li>
          
          <% end %>           
        </ul>
    </div>
</div>

<% end %>


<% if @projets_actifs.last %>
<!-- Début slider top projets -->
<div class="form_content accueil_slider_top">
  <h1>Les projets les plus actifs</h1>
    <div class="accordian form_content">
        <ul>
          <% @projets_actifs.each do |projet| %>
          <li>
            <% projet=projet[0] %>
            <div class="image_title">
              <%= link_to projet.titre, projet_path(projet.id)%>
            </div>
            <div class="overlay">
                <p class="info" href="#"><%= (projet.description) %></p>
                <p><%= link_to "Lire la suite", projet_path(projet.id)%></p>
            </div>
            <div class="image_image ">
              <a href="#">
                <%= image_tag projet.image.url, class:"projet-image" %>
              </a>
            </div>
          </li>
          <% end %>           
        </ul>
    </div>
</div>

<% end %>

<!-- Fin slider -->


<div class="container">
  
    
    
    <% if @derniers_commentaires.last %>
	<h3>Les 5 derniers commentaires</h3>
    
    
        <table class="table">
           <thead class="thead-inverse">
              <tr>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th>Date de création</th>
                <th>Section commentée</th>
              </tr>
           </thead>
           <tbody>
              <% @derniers_commentaires.each do |commentaire| %>
                  <tr>
                    <td><%= User.find(commentaire.user_id).pseudo %></td>
                    <td><div class="comment_content"><%= commentaire.comment %></div></td>
                    <td><%= commentaire.created_at.to_date %></td>
                    <td><%= commentaire.commentable_type %></td>
                  </tr>
              <% end %>
           </tbody>
        </table>
    <% end %>
    
</div>
