<!-- Début slider -->
<% content_for :stylesheet do %>
     <%= stylesheet_link_tag 'pages' %>
<% end %>

<!-- Début vignette -->
<div class="container">
    <div class="vignette">    
        <!-- Contenu description photo -->
        <div class="hovereffect">
            <img class="img-responsive" src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg" alt="">
            <div class="overlay">
                <h2>Titre du projet</h2>
                <p class="info" href="#">La version Wii U du jeu sera jouable pour la première fois dans les allées de l'E3 et sera le seul jeu Nintendo jouable que Nintendo présentera durant le salon afin de procurer aux visiteurs une immersion totale.</p>
                <a href='#'>Lire la suite</a>
            </div>
        </div>
        
        <div class="footerVignette">
            <div class="row">
                <div class="col-lg-offset-1 col-sm-offset-1 col-lg-3 col-sm-3">
                    <p>Auteur : </p>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <p>Catégorie : </p>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <p>Notification : </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin div vignette -->


<!-- Début slider -->
<div class="container bgcarousel">
    <div class="slidermain">
        <input type="radio" name="slide_switch" id="id1"/>
        <label for="id1">
            <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg" width="100"/>
        </label>
        <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>

        <!--Lets show the second image by default on page load-->
        <input type="radio" name="slide_switch" id="id2" checked="checked"/>
        <label for="id2">
            <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" width="100"/>
        </label>
        <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>

        <input type="radio" name="slide_switch" id="id3"/>
        <label for="id3">
            <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg" width="100"/>
        </label>
        <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>

        <input type="radio" name="slide_switch" id="id4"/>
        <label for="id4">
            <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg" width="100"/>
        </label>
        <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg"/>

        <input type="radio" name="slide_switch" id="id5"/>
        <label for="id5">
            <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" width="100"/>
        </label>
        <img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg"/>
    </div>
</div>


<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
<!-- Fin slider -->


<div class="container">
  
    <% if @projets_actifs.last %>
      <h3>Les 3 projets les plus actifs</h3>

            <table class="table">
               <thead class="thead-inverse">
                  <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Date de création</th>
                    <th>Commentaires</th>
                    <th>Likes</th>
                  </tr>
               </thead>
               <tbody>
                  <% @projets_actifs.each do |projet| %>
                   <% projet=projet[0] %>
                      <tr>
                        <td><%= link_to projet.titre, projet_path(projet.id)%></td>
                        <td><%= User.find(projet.user_id).pseudo %></td>
                        <td><%= projet.created_at.to_date %></td>
                        <td><%= projet.comments.where(visible: true).where(role: "comments").count %></td>
                        <td><%= projet.comments.where(role: "likes").count %></td>
                      </tr>
                  <% end %>
               </tbody>
            </table>
    <% end %>
    
    <% if @derniers_projets.last %>
        <h3>Les 3 derniers projets</h3>
    
            <table class="table">
               <thead class="thead-inverse">
                  <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Date de création</th>
                    <th>Commentaires</th>
                    <th>Likes</th>
                  </tr>
               </thead>
               <tbody>
                   <% @derniers_projets.each do |projet| %>
                      <tr>
                        <td><%= link_to projet.titre, projet_path(projet.id)%></td>
                        <td><%= User.find(projet.user_id).pseudo %></td>
                        <td><%= projet.created_at.to_date %></td>
                        <td><%= projet.comments.where(visible: true).where(role: "comments").count %></td>
                        <td><%= projet.comments.where(role: "likes").count %></td>
                      </tr>
                  <% end %>
               </tbody>
            </table>
    <% end %>
    
    
    <% if @derniers_commentaires.last %>
	<h3>Les 5 derniers commentaires</h3>
    
    
        <table class="table">
           <thead class="thead-inverse">
              <tr>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th>Date de création</th>
                <th>Section commentée</th>
              </tr>
           </thead>
           <tbody>
              <% @derniers_commentaires.each do |commentaire| %>
                  <tr>
                    <td><%= User.find(commentaire.user_id).pseudo %></td>
                    <td><%= commentaire.comment %></td>
                    <td><%= commentaire.created_at.to_date %></td>
                    <td><%= commentaire.commentable_type %></td>
                  </tr>
              <% end %>
           </tbody>
        </table>
    <% end %>
    
</div>
