<% if compte_signed_in? %>

    <h1>Espace Modération <%= current_compte.get_statut %></h1>


		<% if current_compte.get_statut == "SuperAdmin" %>

			<table class="table">
				<thead class="thead-inverse">
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Rôle</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @comptes.each do |compte| %>
						<% if compte.get_statut != "SuperAdmin" %>
						<tr>
							<th scope="row"><%= compte.id %></th>
							<td><%= compte.nom %></td>
							<td><%= compte.prenom %></td>
							<td><%= compte.email %></td>
							<td>
								
								<!-- A FAIRE : fonction update sur valider = écrase dans la bdd -->								
								
								<%= form_for(:compte, :url => compte_path(compte), :method => 'PATCH') do |f| %>
										
									<%= f.select_tag 'statut_id', options_from_collection_for_select(@statuts, 'id', 'label', compte.statut.id) %>
							
							</td>
							<td><%= f.submit 'Valider' %> | <a href="/comptes/<%= compte.id %>" data-method="delete">Supprimer</a></td>

								
								<% end %>
						
						</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>


		<% elsif current_compte.get_statut == "Administrateur" %>

        <h2>Affichage spécifique Administrateur</h2>
        <p>L'administrateur doit pouvoir :</p>
        <ul></br>
            <li>Exporter toutes les bdd en .csv</li>
            <li>Filtrer / rechercher dans les bdd</li>

            </br>
            <li>Accéder à la bdd regroupant les contributeurs pour :</li>
            <li>Voir le profil d'un contributeur</li>
            <li>Editer un contributeur</li>
            <li>bannir un contributeur</li>
            <li>supprimer un contributeur</li>
            
            </br>
            <li>Accéder à la bdd regroupant les projets pour :</li>
            <li>Voir un projet</li>
            <li>Editer un projet</li>
            <li>supprimer un projet</li>
            
            </br>
            <li>Accéder à la bdd regroupant les actus pour :</li>
            <li>Créer une actu</li>
            <li>Editer une actu</li>
            <li>Supprimer une actu</li>

            </br>
            <li>Accéder à la bdd regroupant les commentaires pour :</li>
            <li>Editer un comm</li>
            <li>Valider un comm</li>
            <li>Supprimer un comm</li>

            </br>
            <li>Accéder à la bdd regroupant les sondages pour :</li>
            <li>Créer un sondage</li>
            <li>Editer un sondage</li>
            <li>Supprimer un comm</li>
            
        </ul>

    <% else %>
        
        <h2>Affichage spécifique Contributeur</h2>
        <p>Le <%= current_compte.get_statut %> n'a pas accès à la partie modération</p>

    <% end %>

<% else %>

    <p>Vous n'avez pas l'accès à la partie modération</p>

<% end %>

<a href="/">Retour Accueil</a>