<!--footer start-->
    <div class="row">
	          <!--Infos-->
		    <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
	            <h1>contact info</h1>
	            <address>
	                <p><i class="fa fa-home pr-10"></i> Pays de Verdun </p>
	                <p><i class="fa fa-globe pr-10"></i> ZA les Marronniers 55100 Charny sur Meuse </p>
	                <p><i class="fa fa-phone pr-10"></i> Tél: 03 29 83 44 01 </p>
	                <p><i class="fa fa-envelope pr-10"></i> Email : <a href="javascript:;">contact@meusetech.fr</a></p>
	            </address>
	        </div>
	          
          	<!--Intégration facebook-->
	        <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
	            <h1>Fil d'actualité Facebook</h1>
		        <div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
					</script>
				<div class="fb-page" data-href="https://www.facebook.com/meusetech/?fref=ts" data-tabs="timeline" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
					<div class="fb-xfbml-parse-ignore">
						<blockquote cite="https://www.facebook.com/paysverdun/?fref=ts">
							<a href="https://www.facebook.com/paysverdun/?fref=ts">Meuse Tech</a>
						</blockquote>
					</div>
				</div>
	        </div>
	          
		        <!--Intégration twitter-->
		    <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
		        <h1>Fil d'actualité Twitter</h1>
		        <a class="twitter-timeline" href="https://twitter.com/meusetech" data-widget-id="727108314300059648">Tweets de @meusetech</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		    </div>
	          
		        <!--Newsletter-->
		    <div class="col-lg-3 col-sm-3">
		        <div style="display:none"><img alt="" height="1" src="http://sg-autorepondeur.com/tauxouverture/form.gif?membreid=3981&amp;listeid=71120&amp;id=16603" width="1" />
		        </div>
				<div class="form sg-form16603">
					<div class="sg-form-header">
						<h1>Recevez Les&nbsp;Actualit&eacute;s de MeuseTech.Fr</h1>
					</div>

					<form action="http://sg-autorepondeur.com/inscriptionabonne.php" enctype="utf-8" method="post" target="_blank">
						<input name="nom" class="form-control" placeholder="Votre nom" required="" type="text" />
						<input name="prenom" class="form-control" placeholder="Votre prénom" required="" type="text" />
						<input name="email" class="form-control" placeholder="Votre adresse email" required="" type="email" /><br />

						<input name="listeid" type="hidden" value="71120" /> <input name="membreid" type="hidden" value="3981" /> <input name="id_formulaire" type="hidden" value="16603" /> <input name="redirect" type="hidden" value="http://www.MeuseTech.fr" /> <input name="submit" type="submit" value="Je m'inscris aux Actus" />
					</form>

					<div class="sg-form-footer">
						Vos donn&eacute;es restent confidentielles et aucun spam ne vous sera envoy&eacute;.
					</div>
				</div>
		    </div>
	    </div>	    
    
    <!-- footer end -->
    
  		<div class="row footer-small">
            <div class="col-lg-6 col-sm-6 pull-right">
                    <ul class="social-link-footer list-unstyled">
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s">
							<%= image_tag "logoleader.png" %></li>
						<li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s">
							<%= image_tag "logopays.png" %></li>
						<li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s">
							<%= image_tag "logoregion.png" %></li>
						<li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s">
							<%= image_tag "logoeurope.png" %></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s">
							<%= image_tag "logowebogreen.png" %></li>
                    </ul>
            </div>
            <div class="col-md-4">
                <div class="copyright">
                  	<p>Réalisé par les apprenants de la promo #1 de WebOgreen, école de codeurs en Meuse. </p>
                </div>
            </div>
            <div class"row">
				<div class="col-xs-12 mentions">
            		<p>Mentions légales (lien) Partenaires (lien)</p>
            	</div>
            </div>
        </div>
   
    <!--small footer end-->

