
<!-- Navigation -->
<a id="to-top" class="btn btn-lg btn-dark" href="#top">
    <span class="sr-only">Toggle to Top Navigation</span>
    <i class="fa fa-chevron-up"></i>
</a>


<% if user_signed_in? %>

		<a id="menu-toggle" href="" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>


		<!-- Sidebar droite -->
		<nav id="sidebar-wrapper">
			<ul class="sidebar-nav">
					<a id="menu-close" href="" class="btn btn-danger pull-right hidden-md hidden-lg toggle"><i class="fa fa-times"></i></a>
					<li class="sidebar-brand">
						<p><%= current_user.pseudo %></p>
					</li>
					<li>
							<a href="/users/edit">Mon Profil</a>
					</li>

					<li>
							<a href="/users">Modération</a>
					</li>
				
				  
						
					<li>
							<a href="#">Mes Projets</a>
					</li>				
				
					<li>
							<a href="#">Projets Suivis</a>
					</li>
					
					<li>
							<a href="#">Notifications</a>
					</li>
									
			</ul>
		</nav>
<% end %>


<div class="accordion-login">
            
            <ul>
                <% if user_signed_in? %>

      	             <li><a class="btn-login" role="button" href="/users/sign_out" data-method="delete" rel="nofollow" >Déconnexion</a></li>

                <% else %>
        
                    <li><span class="btn-login" role="button" id="connexion">Connexion</span></li>
				    <li><a  class="btn-login" role="button" href="/users/sign_up" >S'inscrire</a></li>
                    
   
                <% end %>
            </ul>
</div>

    <div id="champsconnexion">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            
                <div>
                        <%= f.label :email %>
                        <%= f.email_field :email, :class => 'champ' %>  
                        <%= f.label "Mot de passe" %>  
                        <%= f.password_field :password, :class => 'champ' %>
                        <%= f.check_box :remember_me %> <%= f.label "Rester connecté" %>
                    <%= link_to t(".forgot_your_password", :default => "Mot de passe oublié?"), new_password_path(resource_name) %>
                    <%= f.submit t('.sign_in', :default => "Se connecter"), :class => 'btn-connecter' %>
                    <a  class="btn-login" role="button" href="/users/sign_up" >S'inscrire</a>
                
                </div>
        <% end %>

    </div>




<!-- sidebar réseaux sociaux -->
<aside id="accordion" class="social text-vertical-center">
    <div class="accordion-social">
        <a class="btn btn-dark btn-lg accordion-toggle" title="Follow Us" role="tab" id="social-collapse" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></a>
        
        <ul class="panel-collapse collapse in nav nav-stacked" role="tabpanel" aria-labelledby="social-collapse" id="collapseOne">
            <li><a href="https://www.facebook.com/soldierupdesigns" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/soldierupdesign" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
            <li><a href="https://www.plus.google.com/+soldierupdesigns" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a></li>
            <li><a href="https://github.com/blayderunner123" target="_blank"><i class="fa fa-lg fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/blayderunner123" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
            <li><a href="skype:live:soldierupdesigns?call"><i class="fa fa-lg fa-skype" target="_blank"></i></a></li>
            <li><a href="http://stackexchange.com/users/4992378/blayderunner123" target="_blank"><i class="fa fa-lg fa-stack-exchange"></i></a></li>
        </ul>
    </div>
</aside>

<div class="container">

</div>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>