<!DOCTYPE html>
<html>
<head>
  <title>MeuseTech</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'messages' %>
  <%= stylesheet_link_tag 'footer' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'sidebar' %>
	
  <%= yield :stylesheet %>
     
</head>

<body>
	<div class="fond">
			<%= image_tag (@image_fond) %>
	</div>
	<header class="menu">		
			<%= render 'layouts/messages' %>
			<% if request.fullpath== '/' %>
				<%= render 'layouts/navbar' %>
			<% else %>
				<%= render 'layouts/navbartop' %>
			<% end %>
			<%= render 'layouts/sidebarConnected' %>
			<%= render 'layouts/sidebarConnexion' %>		
		
	</header>

	<main class="container contenu form_content">
		<%= yield %>		

	</main>
	<footer>
		<%= render 'layouts/footer' %>
	</footer>
    
    <!-- Appel de jquery, jquery_uls et bootstrap -->
    <%= javascript_include_tag "application" %>
	
    <!-- Appel du js lié à la sidebar et au topscroll -->
    <%= javascript_include_tag "pages" %>
	
    <!-- Appel du js lié aux alertes -->
	<%= javascript_include_tag 'messages' %>
    
    <!-- Appel du js lié à la sidebar // champs de connexion -->
    <%= javascript_include_tag 'sidebar' %>

	<%= javascript_include_tag "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" %>

	<%= yield :script %> 
	
</body>

</html>