<!DOCTYPE html>
<html>
<head>
  <title>MeuseTech</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :stylesheet %>  
</head>

<body>

<%= yield %>

<footer>
	<%= render 'layouts/footer' %>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

</html>
